.container {
  background-color: lightgray;
  height: 500px;
  width: 500px;
  padding: 5px;
}

.child {
  display: flex;
  align-items: center;
  background-color: white;
  height: 100%;
  width: 100%;

}

.child > ul {
  width: 90%;
  padding: 20px;
}

img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  padding: 20px;
}

li.child {
  display: flex;
  border-bottom: 2px solid rgba(128, 128, 128, 0.514);
}

.child:last-child {
  border-bottom: none;
}

.text-container {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

p {
  font-size: 18px;
  font-family: Luminari, fantasy;
}

span {
  font-size: 24px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
