ul {
  list-style-type: none;
  border: 10px solid lightblue;
  /* padding: 20px;
  height: 300px; */
  padding: 10px 0px;

}

hr {
  background-color: #eee;
  border: 0 none;
  height: 1px;
}

img {
  width: 80px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  /* justify-content: ; */
  justify-content: space-around;
}

.name {
  display: flex;
  flex-direction: column;
  align-items: ;

  font-family: Luminari, fantasy;
  font-size: 20px;

}

.address {
  display: flex;
  flex-direction: column;



}

li {
/* text-align:unset; */
display: flex;
flex-direction: column;
}
