.container {
  display: flex;
  /* flex-direction: column; */
  width: 500px;
  height: 500px;
  background-color: lightgrey;
  /* align-items: center; */
  /* justify-content: flex-start; */
  padding: 5px;
}

.child {
  background-color: #fff;
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  /* justify-content: left; */
  width: 100%;
  height: 100%;
}

.child > ul {
  width: 90%;
  /* list-style: none; */
  /* margin: 0; */
  padding: 20px;
}

img {
  width: 80px;
  border-radius: 50%;
  padding: 20px;
}

li.child {
  background-color: #fff;
  display: flex;
  /* flex-direction: row; */
  /* align-items: left; */
  /* width: 100%; */
  /* height: 100%; */
  /* margin: auto; */
  border-bottom: 2px solid rgba(128, 128, 128, 0.514);
  /* box-sizing: border-box; */
}

.child:last-child{
  border-bottom: none;
}

.text-container {
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  margin-left: 20px;
}

p {
  font-size: 18px;
  font-family: Luminari, fantasy;
}

span {
  font-size: 24px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
